<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">
	
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/itemweb/backstageLogin" />
		<property name="successUrl" value="/itemweb/backstage" />
		<property name="unauthorizedUrl" value="/itemweb/error" />
		<property name="filterChainDefinitions">
			<value>
				/** = anon
				/winner/index.jsp = authc
			</value>
		</property>
	</bean>
	
	<bean id="userService" class="com.item.finance.services.UserService"></bean>
	<bean id="userRoleService" class="com.item.finance.services.UserRoleService"></bean>
	<bean id="rolePermissionRelationService" class="com.item.finance.services.RolePermissionRelationService"></bean>
	
	<bean id="shiroRealm" class="com.item.finance.realm.ShiroRealm">
		<property name="userService" ref="userService"></property>
		<property name="userRoleService" ref="userRoleService"></property>
		<property name="rolePermissionRelationService" ref="rolePermissionRelationService"></property>
		
		<!-- MD5加密 -->
		<property name="credentialsMatcher">
			<bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
				<!-- 加密方式 -->
				<property name="hashAlgorithmName" value="MD5"></property>
				<!-- 加密次数 -->
				<property name="hashIterations" value="1024"></property>
			</bean>
		</property>
	</bean>
	
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="shiroRealm"></property>
	</bean>

</beans>
